footer {
  .explore-row {
    background-color: $green;
    .title-container {
      border-bottom: 1px solid $white;
      .title {
        font-family: $archivonarrow;
        font-size: 22px;
        line-height: 50px;
        color: $white;
        font-weight: bold;
      }
    }
    .logo-phone-contact {
      padding-top: 1rem;
      padding-right: 1rem;
    }
    .menus {
      padding-top: 1rem;
      padding-bottom: 1rem;
      h3 {
        color: $white;
        font-size: 16px;
        font-weight: bold;
        font-family: $archivonarrow;
      }
      ul {
        display: block;
        li {
          display: block;
          float: none;
          a {
            padding: 0;
            color: $white;
            font-size: 14px;
            line-height: 22px;
            font-family: $archivonarrow;
            text-decoration: underline;
            display: block;
          }
        }
      }
    }
    .social-contact {
      color: $white;
      font-size: 12px;
      line-height: 18px;
      font-family: $archivonarrow;
      padding-top: 6rem;
      a {
        display: inline-block;
        min-height: 26px;
        min-width: 26px;
      }
      img {
        max-width: 26px;
        max-height: 26px;
        display: inline-block;
      }
    }
  }
  
}