.button {
  font-family: $archivonarrow;
  color: $white;
  font-weight: $bold;
  font-size: 29px;
  padding: .5em 1em;

  &.green {
    background-color: $green;
  }

  &.lime {
    background-color: $lime;
  }
}

.accordion {
  font-family: $archivonarrow;
  font-weight: $regular;
  font-size: 16px;
  color: $black;

  .accordion-item {
    margin-bottom: 1rem;

    .accordion-title {
      background-color: $light-gray;
      color: $dark-gray;
      font-family: "Archivo Narrow", sans-serif;
      font-size: 20px;
      font-weight: $bold;

      &:before {
        font-family: $roboto;
        font-size: 2em;
        margin: 0;
        top: 0.3em;
      }
    }

    .accordion-content {
      border-bottom: 1px solid $light-gray;
    }
  }
}

.menu .active>a, .menu .is-active>a {
  background-color: $red;
}

.entry-content {
  > p {
    @include xy-grid-container;
    margin-bottom: 1rem;
  }
  > h1, h2, h3, h4, h5 {
    @include xy-grid-container;
    margin-bottom: 0.5rem;
  }
  > ul {
    @include xy-grid-container;
    margin-bottom: 1rem;
  }
}