.graham-product {
  h1 {
    color: $green;
    font-family: $archivonarrow;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
  }
  .code {
    font-family: $archivonarrow;
    font-weight: $semi-bold;
    font-size: 22px;
    color: $dark-gray;
  }
  .description, .accordion {
    font-family: $archivonarrow;
    font-weight: $regular;
    font-size: 16px;
    color: $black;
  }
  .price {
    font-family: $roboto;
    font-weight: $black-bold;
    font-size: 78px;
    color: $green;
    .only {
      font-family: $roboto;
      font-weight: $black-bold;
      font-size: 32px;
      color: $lime;
    }
  }
}