$top-mobile-height: 34px;
$top-desktop-height: 42px;
header {

  .top-row {
    background-color: $light-gray;
    max-height: $top-mobile-height;
    font-family: $archivonarrow;
    font-size: 12px;
    color: $dark-gray;
    font-weight: bold;
    text-align: left;
    @include breakpoint(360) {
      font-size: 14px;
      max-height: $top-desktop-height;
    }
    .full-height-text {
      line-height: 38px;
      padding-left: 2rem;
      @include breakpoint(360) {
        line-height: $top-desktop-height;
      }
    }
    img {
      //height: $top-mobile-height;
      width: auto;
      @include breakpoint(360) {
        //height: $top-desktop-height;
        /*width: 102.59px;*/

      }
    }
    .hide-early {
      display: none;
      @include breakpoint(1168) {
        display: block;
      }
    }
    span {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      line-height: $top-mobile-height;
      @include breakpoint(360) {
        line-height: $top-desktop-height;
      }
    }

    .grey-background {
      background-color: $medium-gray;

      span {
        padding-left: 0;
      }
    }
    .white {
      color: $white;
      margin-right: 2px;
      &.no-right-margin {
        margin-right: 0;
      }
      a, a:hover, a:focus, a:active {
        color: $white;
      }
    }
    .grey {
      color: $dark-gray;
      margin-right: 2px;
      &.no-right-margin {
        margin-right: 0;
      }
      a, a:hover, a:focus, a:active {
        color: $dark-gray;
      }
    }
    .white-background {
      background-color: $white;
    }
    .button-link {
      display: inline-block;
      height: $top-mobile-height;
      font-size: 12px;
      @include breakpoint(360) {
        height: $top-desktop-height;
        font-size: 14px;
      }
    }
    .telephone-number {
      color: $green;
      font-family: $archivonarrow;
      font-size: 18px;
      font-weight: bold;
      line-height: $top-mobile-height;
      a, a:hover, a:focus, a:active {
        color: $green;
        font-family: $archivonarrow;
        font-size: 18px;
        font-weight: bold;
        line-height: $top-mobile-height;
        @include breakpoint(360) {
          line-height: $top-desktop-height;
        }
      }
      @include breakpoint(360) {
        line-height: $top-desktop-height;
      }
    }
  }

  .second-row {
    max-height: 40px;
    line-height: 40px;
    @include breakpoint(large) {
      max-height: 116px;
      line-height: 116px;
    }
    .secondary-logo {
      height: 40px;
      @include breakpoint(large) {
        height: 116px;
      }
      img {
        max-height: 40px;
        width: auto;
        @include breakpoint(large) {
          max-height: 116px;
        }
      }
    }
    > .grid-container {
      > .grid-x {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $green;
        @include breakpoint(large) {
          border: none;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
    .telephone-number {
      color: $green;
      font-family: $archivonarrow;
      font-size: 52px;
      font-weight: bold;
      a, a:hover, a:focus, a:active {
        color: $green;
        font-family: $archivonarrow;
        font-size: 60px;
        font-weight: bold;
        img {
          height: 50px;
          width: auto;
          display: inline-block;
          margin-top: -8px;
        }
      }
    }
    .menu-icon.dark {
      &:after {
        background: $lime;
        box-shadow: 0 7px $lime, 0 14px 0 $lime;
      }
    }
  }

  .bottom-row {
    color: $green;
    font-family: $archivonarrow;
    font-weight: bold;
    font-size: 12px;
    height: 60px;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 12px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(356) {
      margin-bottom: 0;
    }
    @include breakpoint(530) {
      margin-top: 40px;
    }
    @include breakpoint(medium) {
      max-width: 100%;
    }
    @include  breakpoint(large) {
      font-size: 18px;
      height: 90px;
      line-height: 90px;
      margin-top: 0;
    }
    img {
      height: 26px;
      width: auto;
      margin-right: 0.5rem;
      @include breakpoint(large) {
        height: 60px;
      }
    }
  }

  .nav-row {
    .top-bar, .top-bar ul {
      background-color: $white;
      li {
        background-color: $green;
        a, a:hover, a:focus, a:active {
          color: $white;
          font-family: $archivonarrow;
          font-size: 16px;
        }
      }
    }
    .top-bar-left {
      z-index: 3;
    }
    #main-nav {
      @include xy-grid();
      > li {
        @include xy-cell(auto,false);
        text-align: center;
        height: 65px;
        a:after {
          content: none;
        }
        > a {
          padding: 0;
          line-height: 65px;
        }
        > ul {
          width: 100%;
        }
      }
    }
  }

}

.ie11 {
  header {
    .bottom-row {
      overflow: hidden;;
      .logo-bar {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .bar {
          display: block;
          float: left;
          .icon, .description {
            display: inline-block;
          }
          .icon {
            max-width: 50px;
            img {
              max-height: 48px;
              width: auto;
            }
          }
          .description {
            padding-right: 1em;
          }
        }
      }
    }
  }
}