.hero-section {
  .hero-slides {
    .hero-slide {
      .hero-slide-description {
        span {

        }
        h1 {

        }
        h2 {

        }
        .button {

        }
      }
    }
  }
}

#home-section-1 {
  @include xy-grid-container();
  margin-bottom: 2rem;
  .hero-image-section {
    max-height: 154px;
    height: 10.694vw;
    background-size: contain;
    .button {
      max-height: 154px;
      height: 10.694vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}

#home-section-1-mobile {
  @include xy-grid-container();
  margin-bottom: 1rem;
  .hero-image-section {
    height: 18.125vw;
    background-size: cover;
    background-repeat: no-repeat;
    .button {
      height: 18.125vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}

#home-section-2 {
  @include xy-grid-container();
  margin-bottom: 2rem;
  .hero-image-section {
    max-height: 476px;
    height: 32.381vw;
    background-size: cover;
    background-repeat: no-repeat;
    .button {
      max-height: 476px;
      height: 32.381vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}

#home-section-2-mobile {
  @include xy-grid-container();
  margin-bottom: 1rem;
  .hero-image-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50.625vw;
    .button {
      height: 50.25vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}

#home-featured {
  @include xy-grid-container();
  margin-bottom: 2rem;
  .hero-image-section {
    max-height: 457px;
    height: 31.736vw;
    .button {
      max-height: 457px;
      height: 31.736vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}

#single-product {
  @include xy-grid-container();
  margin-bottom: 2rem;
  .hero-image-section {
    max-height: 815px;
    height: 56.597vw;
    .button {
      max-height: 815px;
      height: 56.597vw;
      width: 100%;
      color: transparent;
      background-color: transparent;
      &:hover {
        color: transparent;
        background-color: transparent;
      }
    }
  }
}