.product-carousel {
  border-top: 3px solid $light-gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  > .grid-container {
    > h2 {
      color: $dark-gray;
      font-family: $archivonarrow;
      font-weight: $bold;
      font-size: 24px;
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
  .slick-slide > div {
    text-align: center;
  }
  .carousel-slide {
    max-width: 208px;
    width: 208px;
    border: 1px solid $dark-gray;
    a.carousel-link-container {
      background-color: $white;
      padding: 0.5rem;
      display: block;
      .slide-title {
        height: 69px;
        overflow: hidden;
        font-family: $archivonarrow;
        font-weight: $bold;
        font-size: 18px;
        line-height: 1.15;
        color: $green;
        padding-top: 5px;
      }
      .slide-code {
        font-family: $archivonarrow;
        color: $black;
        font-size: 10px;
        text-transform: uppercase;
      }
      .only {
        font-family: $roboto;
        font-weight: $black;
        color: $lime;
        font-size: 15px;
        line-height: 1.15;
      }
      .slide-price {
        font-family: $roboto;
        font-weight: $black;
        color: $green;
        font-size: 36px;
        line-height: 1.15;
      }
      .slide-image {
        height: 150px;
        img {
          height: 150px;
          width: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .slick-dots {
    bottom: -45px;
    li {
      padding-right: 2px;
      padding-left: 2px;
      width: 24px;
      height: 20px;
      button {
        &:before {
          content: none;
        }
        width: 20px;
        height: 20px;
        background-color: $green;

      }
      &.slick-active {
        button {
          background-color: $lime;
        }
      }
      @include breakpoint(350) {
        padding-right: 2px;
        padding-left: 2px;
        width: 30px;
        height: 26px;
        button {
          width: 26px;
          height: 26px;
        }
      }
      @include breakpoint(390) {
        padding-right: 2px;
        padding-left: 2px;
        width: 35px;
        height: 31px;
        button {
          width: 31px;
          height: 31px;
        }
      }
    }
  }
}

.no-border {
  border: none !important;

}

.archive {
  .carousel-slide {
    margin-left: auto;
    margin-right: auto;
  }
}